<!DOCTYPE HTML>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>RapidTasker</title>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <!--<script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    --><script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/test';
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.on('add_task', function(msg) {
                var new_task = $(msg.new_code).hide();
                $('#tasks_main').prepend(new_task);
                new_task.slideDown();

                    var myArray = $("#tasks_main div");
                    var count = 0;
                    myArray.sort(function (a, b) {
                        a = parseInt($(a).attr("priority"), 10);
                        b = parseInt($(b).attr("priority"), 10);
                        count += 2;
                        if(a > b) {
                            return 1;
                        } else if(a < b) {
                            return -1;
                        } else {
                            return 0;
                        }
                    });
                    $("#tasks_main").append(myArray);

                });

            socket.on('log', function(msg) {
                $('#log').append('<br>'+msg.data);
                });

            socket.on('replace_task', function(msg) {
                $('.tasks#'+msg.id).replaceWith(msg.new_code);
                });


            ///TO THE SERVER SITE!
            $('form#username').submit(function(event) {
                $('#username').hide();
                $('#tasks_main').show();
                $('#add_task_manually').show();
                $('#task_description').focus();
                socket.emit('username', {username: $('#username_field').val()});
                return false;
                });
            
            $('#tasks_main').on('click', 'input.claim', function(event){
                    socket.emit('take_task', {id: $(this).parent().attr('id'), user: $('#username_field').val()});
                    });
            $('body').on('click', 'input.solved', function(event){
                    socket.emit('end_task', {id: $(this).parent().attr('id'), user: $('#username_field').val()});
                    });
            $('form#add_task_manually').submit(function(event) {
                    socket.emit('add_task_manually', {user: $('#username_field').val(), task_description: $('#task_description').val(), priority: $('#task_priority').val()});

                    return false;
                    });
        });
    </script>
</head>
<body>
    <div id="username">
    <form id="username" method='POST' action='#'>
        <input type="text" name="username_field" id="username_field" placeholder="User" autofocus>
        <input type="submit" value="GO!"></div>
    </form>
    </div>
    <div id="add_task_manually" style="display: none;">
    <form id="add_task_manually" method='POST' action='#'>
        <input type="text" name="task_description" id="task_description" placeholder="Task description">
        <input type="text" class='task_priority_textbox' name="task_priority" id="task_priority" value='3' placeholder="P">
        <input type="submit" value="Post"></div>
    </form>
    </div>
    <div id='tasks_main' style="display: none;">
    </div>
<div id="log"></div>
</body>
</html>
