<!DOCTYPE HTML>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <title>RapidTasker</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script
     src="https://code.jquery.com/jquery-2.2.4.min.js"
     integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
     crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='rapid.js') }}"></script>
</head>
<body>
    <div id="username">
    <form id="username" method='POST' action='#'>
        <input type="text" name="username_field" id="username_field" placeholder="User" autofocus>
        <input type="submit" value="GO!"></div>
    </form>
    </div>
    <div id="add_task_manually" style="display: none;">
    <form id="add_task_manually" method='POST' action='#'>
        <input type="text" class="task_description" name="task_description" id="task_description" placeholder="Task description">
        H<input type="range" class='task_priority_textbox' name="task_priority" id="task_priority" value="3" name="quantity" min="1" max="5" >L
        <input type="submit" value="Post"></div>
    </form>
    </div>
<div class="container">
  <div class="row">
    <div class="col-md-4 droppable rounded list bg-red" id="todo">
    </div>
    <div class="col-md-4 droppable rounded list bg-light" id="ongoing">
    </div>
    <div class="col-md-4 droppable rounded list bg-black" id="done">
    </div>
  </div>
</div>

<div id="log"></div>
</body>
</html>
